streamlit
pydantic
PyMuPDF
pytesseract
Pillow
langchain
langchain_groq
langgraph
python-dotenv
numpy<2
pandas
matplotlib
seaborn
rapidfuzz
supabase
fastapi
uvicorn
python-multipart
faiss-cpu==1.8.0
sentence-transformers
langchain-huggingface
langchain-text-splitters
langchain-community
slowapi
requests